/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181f34FF;
    background-alt: #2a3144FF;
    foreground:     #FFFFFFFF;
    selected:       #98D4EBFF;
    active:         #635AC4FF;
    urgent:         #EE3366FF;
}
